@import 'styles/variables.scss';

.CalculatorForm {
  display: flex;
  width: 100%;
  padding: 10px;
}

.calculator-form {
  width: 100%;
}

.calculator-fieldset {
  display: flex;
  width: inherit;
  padding: 0;
  margin: 0;
  border: none;
}

.calculator-people, .calculator-coupon-add {
  display: flex;
}

.calculator-item {
  display: flex;
  text-align: center;
  font-size: $font-size-main;
  height: 45px;
  width: 100%;
  background-color: $font-color-light;
  border: none;
}

@include mobile {
  .calculator-item {
    font-size: $font-size-small;
    height: 40px;
  }
}

/******* Form Label *********/
.form-label {
  font-weight: bold;
  padding: 12px;
  background-color: $primary-light-color;
}

.people-label {
  @extend .form-label;
  flex: 4;
}

.coupon-label {
  @extend .form-label;
  flex: 2;
}

/******* Form Input *********/
.form-input {
  text-align: center;
}

.people-input {
  @extend .form-input;
  flex: 1;
}

.coupon-input {
  @extend .form-input;
  flex: 5;
}

/******* Form Button *********/
.coupon-btn {
  display: inline-block;
  text-align: center;
  cursor: pointer;
  font-size: $font-size-big;
  color: $font-color-light;
  background-color: $primary-dark-color;
}

.coupon-submit-button {
  @extend .coupon-btn;
  font-size: $font-size-main;
  padding: 15px;
}

.coupon-add-button {
  @extend .coupon-btn;
  @extend .calculator-item;
  flex: 1;
  font-weight: bold;
}

.coupon-delete-button {
  @extend .coupon-btn;
  @extend .calculator-item;
  font-weight: bold;
  flex: 1;
  background-color: $highlight-color;
}

@include mobile {
  .coupon-btn {
    font-size: $font-size-main;
  }

  .coupon-submit-button {
    font-size: $font-size-medium;
  }
}

/******* Coupon Items *********/
.coupon-item {
  flex: 7;
  padding: 12px;
}
