$font-main:                 'Avenir', Arial, sans-serif;

$main-background-color:     #1E88E5;
$contrast-backgroud-color:  #E0F2F1;

$highlight-color:           #AD1457;

$primary-light-color:       #E1BEE7;
$primary-dark-color:        #1E88E5;

$secondary-light-color:     white;

$font-color-dark:           #333;
$font-color-light:          white;

$font-size-small:           0.8em;
$font-size-medium:          1em;
$font-size-main:            1.2em;
$font-size-big:             1.8em;

$max-mobile-width: 768px;

@mixin mobile {
  @media (max-width: $max-mobile-width) {
    @content;
  }
}
